.about {
  position: relative;
  height: 70vh;

  .about-section {
    z-index: 1;
    width: 100%;
    height: 70vh;
  }

  .red {
    background-color: salmon;
  }

  .blue {
    background-color: slateblue;
    position: absolute;
    top: 0;
  }

  .green {
    top: -100%;
    background-color: teal;
  }
}
