.intro {
  display: flex;
  flex-direction: column;
  align-items: center;


  &.night-section {
    display: flex;
    height: 100%;
    background: linear-gradient(180deg, #02284C 1.72%, #2583A3 23.71%, #B0C1CF 40.25%, #FFDACA 74.92%);
  }


  .stars {
    padding-top: 2%;
    height: 247px;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .festival-logo {
    max-width: 600px;
    // -webkit-filter: drop-shadow(8px 8px 3px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(8px 8px 3px rgba(0, 0, 0, 0.5));
  }

  .placeholder-content {
    height: 1000px;
  }
}
